doctype html
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/javascripts/main.js")
    link(rel="stylesheet" href="/stylesheets/normalize.css" type="text/stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/stylesheets/styles.css", tex="text/css", rel="stylesheet")
    block title
      title Default title
  body
    .row     
      div#loginHeader.small-12.small-centered.columns
        H1 What do you have TeuxDeux?
        div#notepad
          div#verticalLines
          block content
          div#horizontallines
            hr
            hr
            hr
            hr
            hr
