extends ../Layout

block content
  H1 What do you have TeuxDeux?
  if errors != ''
    p.errors
      =errors
  form(action="Login", method="POST", enctype="application/x-www-form-urlencoded")
    p
      label(for="Username",) Username
      input#username( value="", type="password", name="username")
    p
      label(for="Password") Password
      input#password( value="", type="password", name="password")
    
    button(type="submit") Login