extends ../Layout

block content
  h1 Edit the Task
 
  form(action="/tasks/#{currentTask._id}?_method=PUT", method="POST", enctype="application/x-www-form-urlencoded")
    p
      label(for="title_input") Title
      input#title_input( value="#{currentTask.title}", type="text", name="taskTitle")
    p
      label(for="notes_input") Notes
      input#notes_input( value="#{currentTask.notes}", type="text", name="taskNotes")
    
    button(type="submit") Submit Editted Task