extends ../Layout

block content
  h1 Edit the Task
  //- this enables app.put.  Must install node module. Must come after app.use
  //- app.use(methodOverride('method'));
  //- need to have "?_method= for action in order for PUT method to work
  //- refer to method override npm package
 
  form(action="/tasks/#{task._id}?_method=PUT", method="POST", enctype="application/x-www-form-urlencoded")
    p
      label(for="title_input") Title
      input#title_input( value="#{task.title}", type="text", name="taskTitle")
    p
      label(for="notes_input") Notes
      input#notes_input( value="#{task.notes}", type="text", name="taskNotes")
    
    button(type="submit") Submit Editted Task