extends ../Layout 

block content
  h1 Here are the tasks
  ul
    each task in tasks
      li
        a(href="/tasks/#{task._id}")
          span.title=task.title
          br
          span.notes=task.notes
        form#deleteForm(action="/tasks/#{task._id}?_method=DELETE", method="POST", enctype="application/x-www-form-urlencoded")
          button#delete(type="submit") delete
