extends ../Layout

block content
  h1 testing
  form(action='/tasks', method='POST', enctype='application/x-www-form-urlencoded')
    p
      label(for='title_input') Title
      input#title_input( type='text', name='title')
    p
      label(for='notes_input') Notes
      inpute#notes( type='tex', name='notes')
    p
      button Create Task
